config base 'base'
	option enabled '1'
	option local_http_port '1558'
	option local_https_port '1560'
	option interfaces 'br-lan'
	option http_enabled '1'
	option https_enabled '1'

config cache 'cache'
	option cache_local_port '80'
	option cache_server_port '80'
	option ngxconf '/etc/nginx/nginx.conf'
	option cache_local_path '/tmp/nginx_cache'
	option cache_enabled '1'
	option cache_server '192.168.40.25'

config http_domain
	option domain 'bing.com'
	option ip '204.79.197.200'

config http_domain
	option domain 'cn.bing.com'
	option ip '202.89.233.104'

